
/* Customisations for the ODH project */

body, h1, h2, h3, h4 {
    font-family: "Open Sans", arial, sans-serif;
} 

.wy-nav-content{
    max-width: 1200px;    
}

.license {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #000000;
    padding: 2px 6px 2px 6px;
    border: 1px solid #CCCCCC;
    border-radius: 2pt;
    display: inline-block;
}

external {
    diplay: block;
}
span.caption-number:after {
   content: ": ";
}

div.topic {
    border: 1px solid;
    box-shadow: 5px 5px 3px grey;
    margin: 5px 5px 15px 5px;
    padding: 5px;
    border-radius: 5px;
}

.green {
    color: green;
}

.uline {
    text-decoration: underline;
}

.extrafooter {
    font-size: 80%;
}

.monospace {
    font-family: monospace;
    font-weight: normal;
    font-size: 90%;
}
.button {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #000000;
    padding: 2px 6px 2px 6px;
    border: 1px solid #CCCCCC;
    border-radius: 2pt;
    display: inline-block;
}

.greenswbutton {
 display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 1px 6px;
  font-size: 0.9em;
  color: white;
  background-color: #547f00;
  border-radius: 4px
  /* -moz-border-radius: 4px; */
  /* -webkit-border-radius: 4px; */
  /* -o-border-radius: 4px; */
  /* -ms-border-radius: 4px; */
  /* -khtml-border-radius: 4px; */
}

.greenbtn {
 display: inline-block;
  text-decoration: none;
  padding: 1px 6px;
  font-size: 0.9em;
  color: white;
  background-color: #43AC6A;
  /*border-radius: 4px*/
  /* -moz-border-radius: 4px; */
  /* -webkit-border-radius: 4px; */
  /* -o-border-radius: 4px; */
  /* -ms-border-radius: 4px; */
  /* -khtml-border-radius: 4px; */
}

.blackbtn {
 display: inline-block;
  text-decoration: none;
  padding: 1px 6px;
  font-size: 0.9em;
  color: white;
  background-color: #3F3F3F;
  /*border-radius: 4px*/
  /* -moz-border-radius: 4px; */
  /* -webkit-border-radius: 4px; */
  /* -o-border-radius: 4px; */
  /* -ms-border-radius: 4px; */
  /* -khtml-border-radius: 4px; */
}

.std-term:before{
    content:"\f518";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    color:#b3b3b3;
    font-size: 60%;
    margin-right:2px;

}

/* .rst-content.style-external-links, a.reference.external:after { */
/*     content:"\f35d"; */
/*     font-family: "Font Awesome 5 Free"; */
/*     font-weight: 900; */
/*     font-style: normal; */
/*     color:#b3b3b3; */
/*     font-size:60%; */
/*     vertical-align:super;    */
/*     margin:0 .2em */
/* } */

.orange {
    color: #F26B3A
}

.strike {
    text-decoration: line-through;
}
.rst-content dl:not(.docutils) {

}
.rst-content dl:not(.docutils) dt {
}
.rst-content dl:not(.docutils) dt:before {
}
.rst-content dl:not(.docutils) dt .headerlink {
}
.rst-content dl:not(.docutils) dl dt {
}
.rst-content dl:not(.docutils) dl dt .headerlink {
}
.rst-content dl:not(.docutils) dt:first-child {
}
.rst-content dl:not(.docutils) tt,.rst-content dl:not(.docutils) tt,.rst-content dl:not(.docutils) code {
}
.rst-content dl:not(.docutils) tt.descname,.rst-content dl:not(.docutils) tt.descclassname,.rst-content dl:not(.docutils) tt.descname,.rst-content dl:not(.docutils) code.descname,.rst-content dl:not(.docutils) tt.descclassname,.rst-content dl:not(.docutils) code.descclassname {
}
.rst-content dl:not(.docutils) tt.descname,.rst-content dl:not(.docutils) tt.descname,.rst-content dl:not(.docutils) code.descname {
}
.rst-content dl:not(.docutils) .optional {
}
.rst-content dl:not(.docutils) .property {
}
.highlight .hll {
    background-color: #ADFF2F !important;
}

.rst-content .versionchanged p:before {
    content:"\f01e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    color:#b3b3b3;
    font-size:80%;
    vertical-align:middle;   
    margin:0 .3em
}

.rst-content .versionadded p:before {
    content:"\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    color:#b3b3b3;
    font-size:80%;
    vertical-align:middle;   
    margin:0 .3em
}
.rst-content .deprecated p:before {
    content:"\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    color:#b3b3b3;
    font-size:90%;
    vertical-align:middle;   
    margin:0 .3em
}
button.toggle-button.toggle-button-hidden:before {
    left: -3.5em !important;
}

:root {
    --sd-color-card-header: #F7F7F7 !important;
}

.sd-card-header {
    font-weight: 600;
}

.wy-nav-content {
    max-width: 1024px; 
}

/* .wy-nav-content { */
/*     padding: 1.618em 3.236em; */
/*     height: 100%; */
/*     max-width: 1024px; */
/*     margin: auto */
/* } */

.wy-side-nav-search {
    background-color: white;
}
.wy-side-scroll {
    background-color: white;
}
.wy-nav-side {
    background-color: white;
}    
.wy-side-nav-search>div.version {
    color: var(--sd-color-muted);
}
.wy-menu-vertical li.current>a {
    color:var(--sd-color-dark);
}
.wy-menu-vertical li>a {
    color:var(--sd-color-muted);
}
.wy-nav-content-wrap {
    background-color: white;
}    
.wy-menu-vertical p.caption {
    color: var(--sd-color-black);
    font-size: 100%;
}
