
@import url("css/theme.css");

body {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

.license {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #000000;
    padding: 2px 6px 2px 6px;
    border: 1px solid #CCCCCC;
    border-radius: 2pt;
    display: inline-block;
}

external {
    diplay: block;
}
span.caption-number:after {
   content: ": ";
}

div.topic {
    border: 1px solid;
    box-shadow: 5px 5px 3px grey;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.green {
    color: green;
}
