
@import url("css/theme.css");

body {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

.wy-nav-content{
    max-width: 1024px;    
}

.license {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #000000;
    padding: 2px 6px 2px 6px;
    border: 1px solid #CCCCCC;
    border-radius: 2pt;
    display: inline-block;
}

external {
    diplay: block;
}
span.caption-number:after {
   content: ": ";
}

div.topic {
    border: 1px solid;
    box-shadow: 5px 5px 3px grey;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.green {
    color: green;
}

.uline {
    text-decoration: underline;
}

.extrafooter {
    font-size: 80%;
}

.monospace {
    font-family: monospace;
    font-weight: normal;
    font-size: 90%;
}
.button {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #000000;
    padding: 2px 6px 2px 6px;
    border: 1px solid #CCCCCC;
    border-radius: 2pt;
    display: inline-block;
}

.greenswbutton {
 display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 1px 6px;
  font-size: 0.9em;
  color: white;
  background-color: #547f00;
  border-radius: 4px
  /* -moz-border-radius: 4px; */
  /* -webkit-border-radius: 4px; */
  /* -o-border-radius: 4px; */
  /* -ms-border-radius: 4px; */
  /* -khtml-border-radius: 4px; */
}

.greenbtn {
 display: inline-block;
  text-decoration: none;
  padding: 1px 6px;
  font-size: 0.9em;
  color: white;
  background-color: #43AC6A;
  /*border-radius: 4px*/
  /* -moz-border-radius: 4px; */
  /* -webkit-border-radius: 4px; */
  /* -o-border-radius: 4px; */
  /* -ms-border-radius: 4px; */
  /* -khtml-border-radius: 4px; */
}

.blackbtn {
 display: inline-block;
  text-decoration: none;
  padding: 1px 6px;
  font-size: 0.9em;
  color: white;
  background-color: #3F3F3F;
  /*border-radius: 4px*/
  /* -moz-border-radius: 4px; */
  /* -webkit-border-radius: 4px; */
  /* -o-border-radius: 4px; */
  /* -ms-border-radius: 4px; */
  /* -khtml-border-radius: 4px; */
}

.std-term:before{
    content:"\f518";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    color:#b3b3b3;
    font-size: 60%;
    margin-right:2px;

}
.rst-content.style-external-links, a.reference.external:after {
    content:"\f35d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    color:#b3b3b3;
    font-size:60%;
    vertical-align:super;   
    margin:0 .2em
}

.orange {
    color: #F26B3A
}
